{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Auctions{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'house/favicon.ico' %}">
    <!-- tailwind_css -->
    <link rel="stylesheet" href="{% static 'house/twstyles.css' %}">
</head>

<body>

    <!----------------- header Start ----------------->
    <header class="sticky top-0 z-50 bg-white dark:bg-gray-800">
        <nav class="flex flex-wrap items-center justify-between w-full py-4 md:py-0 px-4 text-lg text-gray-700 ">
            <div class="flex justify-center align-middle text-3xl text-indigo-600 font-bold dark:text-white"><a
                    href="./">Auctions</a> &#160 <button type="button" id="toggler" class="" aria-haspopup="true"
                    aria-expanded="false" aria-labelledby="headlessui-listbox-label-3 headlessui-listbox-button-4">
                    <span class="dark:hidden">
                        <svg viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="w-6 h-6">
                            <path d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" class="fill-indigo-400/20 stroke-indigo-600">
                            </path>
                            <path
                                d="M12 4v1M17.66 6.344l-.828.828M20.005 12.004h-1M17.66 17.664l-.828-.828M12 20.01V19M6.34 17.664l.835-.836M3.995 12.004h1.01M6 6l.835.836"
                                class="stroke-indigo-600"></path>
                        </svg>
                    </span>
                    <span class="hidden dark:inline"><svg viewBox="0 0 24 24" fill="none" class="w-6 h-6">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M17.715 15.15A6.5 6.5 0 0 1 9 6.035C6.106 6.922 4 9.645 4 12.867c0 3.94 3.153 7.136 7.042 7.136 3.101 0 5.734-2.032 6.673-4.853Z"
                                class="fill-gray-800"></path>
                            <path
                                d="m17.715 15.15.95.316a1 1 0 0 0-1.445-1.185l.495.869ZM9 6.035l.846.534a1 1 0 0 0-1.14-1.49L9 6.035Zm8.221 8.246a5.47 5.47 0 0 1-2.72.718v2a7.47 7.47 0 0 0 3.71-.98l-.99-1.738Zm-2.72.718A5.5 5.5 0 0 1 9 9.5H7a7.5 7.5 0 0 0 7.5 7.5v-2ZM9 9.5c0-1.079.31-2.082.845-2.93L8.153 5.5A7.47 7.47 0 0 0 7 9.5h2Zm-4 3.368C5 10.089 6.815 7.75 9.292 6.99L8.706 5.08C5.397 6.094 3 9.201 3 12.867h2Zm6.042 6.136C7.718 19.003 5 16.268 5 12.867H3c0 4.48 3.588 8.136 8.042 8.136v-2Zm5.725-4.17c-.81 2.433-3.074 4.17-5.725 4.17v2c3.552 0 6.553-2.327 7.622-5.537l-1.897-.632Z"
                                class="fill-indigo-500"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M17 3a1 1 0 0 1 1 1 2 2 0 0 0 2 2 1 1 0 1 1 0 2 2 2 0 0 0-2 2 1 1 0 1 1-2 0 2 2 0 0 0-2-2 1 1 0 1 1 0-2 2 2 0 0 0 2-2 1 1 0 0 1 1-1Z"
                                class="fill-indigo-500"></path>
                        </svg>
                    </span>
                </button>
            </div>
            <!-- Hamburger -->
            <svg xmlns="http://www.w3.org/2000/svg" id="menu-button"
                class="h-6 w-6 cursor-pointer md:hidden block text-indigo-600 dark:text-white" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>

            <div class="hidden w-full md:flex md:items-center md:w-auto justify-center" id="menu">
                <ul class="pt-4 text-base text-indigo-700 md:flex md:pt-0">
                    <li>
                        <a id="create-listing-btn"
                            class="md:p-4 py-2 pl-2 mr-2 block hover:text-blue-600 dark:text-white"
                            href="{% url 'create_listing' %}">Create
                            Listing</a>
                    </li>

                    <li class="md:p-4 py-2">
                        <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
                            class="flex justify-between items-center py-2 pl-2 pr-4  w-full font-medium text-indigo-600 hover:bg-indigo-50 rounded-md md:hover:bg-transparent md:border-0  md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white dark:hover:text-white dark:focus:text-white dark:border-indigo-700 dark:hover:bg-gray-600 md:dark:hover:bg-transparent hover:text-blue-600 ">Listings
                            <svg class="ml-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg></button>
                        <!-- Dropdown menu -->
                        <div id="dropdownNavbar"
                            class="hidden z-10 w-40 text-base list-none bg-gradient-to-br from-indigo-500 to-blue-500 text-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="" aria-labelledby="dropdownLargeButton">
                                <li>
                                    <a href="{% url 'index' %}" id="active-listing-btn"
                                        class="text-sm font-bold p-2 pl-4 block  dark:text-white">Active
                                        listings</a>
                                </li>
                                <li>
                                    <a href="{% url 'closed_listings' %}"
                                        class="text-sm font-bold p-2 pl-4 block  dark:text-white">Closed
                                        listings</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="md:p-4 py-2">
                        <a href="#" id="dropdownNavbarLink2"
                            data-dropdown-toggle="dropdownNavbar2"
                            class="flex justify-between items-center py-2 pl-2 pr-4  w-full font-medium text-indigo-600 hover:bg-indigo-50 rounded-md md:hover:bg-transparent md:border-0  md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white dark:hover:text-white dark:focus:text-white dark:border-indigo-700 dark:hover:bg-gray-600 md:dark:hover:bg-transparent hover:text-blue-600 ">Catagories
                            <svg class="ml-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg></a>
                        <!-- Dropdown menu -->
                        <div id="dropdownNavbar2"
                            class="hidden z-10 w-44 text-base list-none bg-gradient-to-br from-indigo-500 to-blue-500 text-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="" aria-labelledby="dropdownLargeButton">
                                <li>
                                    <a href="#"
                                        class="capitalize text-sm font-bold p-2 px-4 block  dark:text-white">Paintings</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="capitalize text-sm font-bold p-2 px-4 block  dark:text-white">Sport
                                        Accessories</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="capitalize text-sm font-bold p-2 px-4 block  dark:text-white">Electronics</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="capitalize text-sm font-bold p-2 px-4 block  dark:text-white">Photographs</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a id="watchlist-btn" class="md:p-4 py-2 pl-2 block hover:text-blue-600 dark:text-white"
                            href="{% url 'display_watchlist' %}">Watchlist</a>
                    </li>

                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}" id="logout-btn" class="btn-md ml-2">
                            <span
                                class="relative px-5 py-2 transition-all ease-in duration-75 rounded-md group-hover:bg-opacity-0">
                                Log out
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="register-btn" class="btn-md ml-2">
                            <span
                                class="relative px-5 py-2 transition-all ease-in duration-75  rounded-full group-hover:bg-opacity-0">
                                <!-- first letter of username -->
                                {{ user.username }}
                            </span>
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}" id="login-btn" class="btn-md ml-2">
                            <span
                                class="relative px-5 py-2 transition-all ease-in duration-75 rounded-md group-hover:bg-opacity-0">
                                Log in
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}" id="register-btn" class="btn-md ml-2">
                            <span
                                class="relative px-5 py-2 transition-all ease-in duration-75  rounded-md group-hover:bg-opacity-0">
                                Register
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <!----------------- header end ----------------->

    <!----------------- main start ----------------->
    {% block body %}
    {% endblock %}
    <!----------------- main end ----------------->

    <!----------------- footer start ----------------->
    <footer class="relative bottom-0 text-gray-600 body-font ">
        <div class="container px-5 py-8 mx-auto flex items-center justify-between sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center justify-center text-indigo-700">
                <span class="ml-3 text-md dark:text-white">Auction House - 2022</span>
            </a>
            <p
                class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4 dark:text-white">
                ©
                2022 Auctions -
                <a href="https://github.com/chetan6780"
                    class="text-indigo-600 dark:text-indigo-200 ml-1 hover:text-blue-600 hover:underline"
                    rel="noopener noreferrer" target="_blank">@chetan6780</a>
            </p>
        </div>
    </footer>
    <!----------------- footer end ----------------->

    <!-- tailwind & js files -->
    <script src="{% static 'auctions/main.js' %}"></script>
    <script src="https://unpkg.com/@themesberg/flowbite@1.3.0/dist/flowbite.bundle.js"></script>

</body>

</html>