{% extends "house/layout.html" %}

{% block body %}

<!-- <div class="cntnr">

    <h2>Register</h2>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    <br>
    <br>
</div> -->

<!-- 6. Register form -->
<main id="register" class="flex justify-center" >
    <div class="container p-14 flex justify-center">
        <div class="-m-8 p-4 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8">
            <form class="space-y-6" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <h3 class="text-xl text-center font-medium text-indigo-900 ">Get ready for the Auction!!</h3>
                <div>
                    <label for="text" class="block mb-2 text-sm font-medium text-gray-900 ">Your username</label>
                    <input type="text" name="username" id="text"
                        class="bg-gray-50 border border-indigo-600 text-indigo-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="username1234" required="">
                </div>
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Your email</label>
                    <input type="email" name="email" id="email"
                        class="bg-gray-50 border border-indigo-600 text-indigo-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="email@gmail.com" required="">
                </div>
                <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Your
                        password</label>
                    <input type="password" name="password" id="password" placeholder="••••••••"
                        class="bg-gray-50 border border-indigo-600 text-indigo-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        required="">
                </div>
                <div>
                    <label for="confirmation" class="block mb-2 text-sm font-medium text-gray-900 ">Confirm
                        password</label>
                    <input type="password" name="confirmation" id="confirmation" placeholder="••••••••"
                        class="bg-gray-50 border border-indigo-600 text-indigo-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        required="">
                </div>
                <input type="submit" value="Register" class="w-full text-white shadow-md shadow-indigo-300 hover:shadow-sm hover:shadow-indigo-50 bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"></input>

                <div class="text-sm font-medium text-gray-500 ">
                    Already registered? <a href="{% url 'login' %}" class="text-blue-700 hover:underline ">Login to your
                        account</a>
                </div>
            </form>
        </div>
    </div>
</main>
<!-- Register form end -->

{% endblock %}